*.rej
*.tmp
*.log
.idea/
.vscode/
node_modules/
dist/
coverage/
docs/api
test/component/artifacts/diff/
test/component/artifacts/regression/
test/component/artifacts/screenshots/
test/component/artifacts/*.html
test/component/artifacts/*.json
.DS_Store
