<html lang="en">

<head>
	<title>Component Test</title>
	<base href="/resources/">
	<meta charset="utf-8">
  <script src="../../dist/picasso.js"></script>
	<style>
		#container {
			width: 100%;
			height: 100%;
		}
	</style>
</head>

<body>
	<div id="container" ></div>

  <script>
  let qLayout = {
    "qHyperCube": {
      "qSize": {
        "qcx": 4,
        "qcy": 17
      },
      "qDimensionInfo": [
        {
          "qFallbackTitle": "Tank Name",
          "qApprMaxGlyphCount": 26,
          "qCardinal": 397,
          "qSortIndicator": "A",
          "qGroupFallbackTitles": [
            "Tank Name"
          ],
          "qGroupPos": 0,
          "qStateCounts": {
            "qLocked": 0,
            "qSelected": 0,
            "qOption": 17,
            "qDeselected": 0,
            "qAlternative": 0,
            "qExcluded": 380,
            "qSelectedExcluded": 0,
            "qLockedExcluded": 0
          },
          "qTags": [],
          "qDimensionType": "D",
          "qGrouping": "N",
          "qNumFormat": {
            "qType": "U",
            "qnDec": 0,
            "qUseThou": 0
          },
          "qIsAutoFormat": true,
          "qGroupFieldDefs": [
            "Tank Name"
          ],
          "qMin": "NaN",
          "qMax": "NaN",
          "qAttrExprInfo": [],
          "qAttrDimInfo": [],
          "autoSort": true,
          "cId": "WuJFN",
          "othersLabel": "Others",
          "textAlign": {
            "auto": true,
            "align": "left"
          },
          "representation": {
            "type": "text",
            "urlLabel": ""
          }
        }
      ],
      "qMeasureInfo": [
        {
          "qFallbackTitle": "Avg(WN8)",
          "qApprMaxGlyphCount": 9,
          "qCardinal": 0,
          "qSortIndicator": "D",
          "qNumFormat": {
            "qType": "R",
            "qnDec": 0,
            "qUseThou": 0,
            "qFmt": "########",
            "qDec": ".",
            "qThou": ","
          },
          "qMin": 1183.2142857142858,
          "qMax": 2724.5263157894738,
          "qIsAutoFormat": true,
          "qAttrExprInfo": [],
          "qAttrDimInfo": [],
          "autoSort": true,
          "cId": "PawApu",
          "numFormatFromTemplate": true,
          "textAlign": {
            "auto": true,
            "align": "left"
          }
        },
        {
          "qFallbackTitle": "Avg([Win Rate])",
          "qApprMaxGlyphCount": 10,
          "qCardinal": 0,
          "qSortIndicator": "D",
          "qNumFormat": {
            "qType": "R",
            "qnDec": 0,
            "qUseThou": 0,
            "qFmt": "########",
            "qDec": ".",
            "qThou": ","
          },
          "qMin": 0.4555989690721649,
          "qMax": 0.6906061538461535,
          "qIsAutoFormat": true,
          "qAttrExprInfo": [],
          "qAttrDimInfo": [],
          "autoSort": true,
          "cId": "PGSbt",
          "numFormatFromTemplate": true
        },
        {
          "qFallbackTitle": "Avg(KPG)",
          "qApprMaxGlyphCount": 10,
          "qCardinal": 0,
          "qSortIndicator": "D",
          "qNumFormat": {
            "qType": "R",
            "qnDec": 0,
            "qUseThou": 0,
            "qFmt": "########",
            "qDec": ".",
            "qThou": ","
          },
          "qMin": 0.5729464285714283,
          "qMax": 1.4408823529411765,
          "qIsAutoFormat": true,
          "qAttrExprInfo": [],
          "qAttrDimInfo": [],
          "autoSort": true,
          "cId": "LZcQ",
          "numFormatFromTemplate": true
        }
      ],
      "qEffectiveInterColumnSortOrder": [
        0,
        1,
        2,
        3
      ],
      "qGrandTotalRow": [
        {
          "qText": "1967.1777",
          "qNum": 1967.1776605101143,
          "qElemNumber": -1,
          "qState": "X",
          "qIsTotalCell": true
        },
        {
          "qText": "0.55237792",
          "qNum": 0.5523779243623569,
          "qElemNumber": -1,
          "qState": "X",
          "qIsTotalCell": true
        },
        {
          "qText": "1.0809323",
          "qNum": 1.0809322779243613,
          "qElemNumber": -1,
          "qState": "X",
          "qIsTotalCell": true
        }
      ],
      "qDataPages": [
        {
          "qMatrix": [
            [
              {
                "qText": "T26E4 SuperPershing",
                "qNum": "NaN",
                "qElemNumber": 33,
                "qState": "O"
              },
              {
                "qText": "1414.5929",
                "qNum": 1414.5929203539822,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.48026372",
                "qNum": 0.480263716814159,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.7839823",
                "qNum": 0.7839823008849551,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "IS-3",
                "qNum": "NaN",
                "qElemNumber": 42,
                "qState": "O"
              },
              {
                "qText": "2548.6182",
                "qNum": 2548.6181818181817,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.55225091",
                "qNum": 0.5522509090909097,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.2758182",
                "qNum": 1.2758181818181822,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "FV4202",
                "qNum": "NaN",
                "qElemNumber": 85,
                "qState": "O"
              },
              {
                "qText": "1655.8571",
                "qNum": 1655.857142857143,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.54958571",
                "qNum": 0.5495857142857142,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.77714286",
                "qNum": 0.777142857142857,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "Centurion Mk. 7/1",
                "qNum": "NaN",
                "qElemNumber": 159,
                "qState": "O"
              },
              {
                "qText": "2317.5119",
                "qNum": 2317.5119047619046,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.56710952",
                "qNum": 0.5671095238095233,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.3170238",
                "qNum": 1.3170238095238083,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "T34",
                "qNum": "NaN",
                "qElemNumber": 165,
                "qState": "O"
              },
              {
                "qText": "1868.1443",
                "qNum": 1868.1443298969073,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.45559897",
                "qNum": 0.4555989690721649,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.86969072",
                "qNum": 0.8696907216494846,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "Object 704",
                "qNum": "NaN",
                "qElemNumber": 166,
                "qState": "O"
              },
              {
                "qText": "1863.3333",
                "qNum": 1863.3333333333333,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.58564286",
                "qNum": 0.5856428571428575,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.332381",
                "qNum": 1.332380952380952,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "ISU-152",
                "qNum": "NaN",
                "qElemNumber": 224,
                "qState": "O"
              },
              {
                "qText": "2022.7536",
                "qNum": 2022.7536231884058,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.59494638",
                "qNum": 0.5949463768115945,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.2607246",
                "qNum": 1.2607246376811596,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "T57 Heavy Tank",
                "qNum": "NaN",
                "qElemNumber": 230,
                "qState": "O"
              },
              {
                "qText": "1808.4362",
                "qNum": 1808.436170212766,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.55416809",
                "qNum": 0.554168085106383,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.4229787",
                "qNum": 1.4229787234042546,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "T54E1",
                "qNum": "NaN",
                "qElemNumber": 238,
                "qState": "O"
              },
              {
                "qText": "2077.4902",
                "qNum": 2077.4901960784314,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.59723529",
                "qNum": 0.5972352941176474,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.4408824",
                "qNum": 1.4408823529411765,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "Centurion Mk. I",
                "qNum": "NaN",
                "qElemNumber": 253,
                "qState": "O"
              },
              {
                "qText": "2315.7471",
                "qNum": 2315.7471264367814,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.5967046",
                "qNum": 0.5967045977011503,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.1011494",
                "qNum": 1.101149425287355,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "T49",
                "qNum": "NaN",
                "qElemNumber": 290,
                "qState": "O"
              },
              {
                "qText": "1311.8304",
                "qNum": 1311.830357142857,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.50490357",
                "qNum": 0.5049035714285709,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.57294643",
                "qNum": 0.5729464285714283,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "T-54 first prototype",
                "qNum": "NaN",
                "qElemNumber": 309,
                "qState": "O"
              },
              {
                "qText": "2637.8",
                "qNum": 2637.8,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.69060615",
                "qNum": 0.6906061538461535,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.138",
                "qNum": 1.137999999999999,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "Centurion Action X",
                "qNum": "NaN",
                "qElemNumber": 327,
                "qState": "O"
              },
              {
                "qText": "2098.2241",
                "qNum": 2098.2241379310344,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.54340862",
                "qNum": 0.5434086206896555,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.1158621",
                "qNum": 1.115862068965517,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "T-10",
                "qNum": "NaN",
                "qElemNumber": 330,
                "qState": "O"
              },
              {
                "qText": "2624.4444",
                "qNum": 2624.4444444444443,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.62587556",
                "qNum": 0.6258755555555555,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.2193333",
                "qNum": 1.2193333333333327,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "FV207",
                "qNum": "NaN",
                "qElemNumber": 334,
                "qState": "O"
              },
              {
                "qText": "1267.5091",
                "qNum": 1267.509090909091,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.51357091",
                "qNum": 0.513570909090909,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.676",
                "qNum": 0.6760000000000004,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "Cz07 TVP 46",
                "qNum": "NaN",
                "qElemNumber": 343,
                "qState": "O"
              },
              {
                "qText": "2724.5263",
                "qNum": 2724.5263157894738,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.55557368",
                "qNum": 0.5555736842105263,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "1.1660526",
                "qNum": 1.166052631578947,
                "qElemNumber": 0,
                "qState": "L"
              }
            ],
            [
              {
                "qText": "FV3805",
                "qNum": "NaN",
                "qElemNumber": 395,
                "qState": "O"
              },
              {
                "qText": "1183.2143",
                "qNum": 1183.2142857142858,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.47731429",
                "qNum": 0.4773142857142857,
                "qElemNumber": 0,
                "qState": "L"
              },
              {
                "qText": "0.795",
                "qNum": 0.795,
                "qElemNumber": 0,
                "qState": "L"
              }
            ]
          ],
          "qTails": [
            {
              "qUp": 0,
              "qDown": 0
            }
          ],
          "qArea": {
            "qLeft": 0,
            "qTop": 0,
            "qWidth": 4,
            "qHeight": 17
          }
        }
      ],
      "qPivotDataPages": [],
      "qStackedDataPages": [],
      "qMode": "S",
      "qNoOfLeftDims": -1,
      "customErrorMessage": {
        "calcCond": ""
      },
      "columnOrder": [
        0,
        1
      ],
      "columnWidths": [
        -1,
        -1
      ]
    }
  };

  let data = {
    type: "q",
    data: qLayout
  };

  let settings = {
    scales: {
      x: {
        source: '/qHyperCube/qDimensionInfo/0'
      },
      y: {
        invert: true,
        source: '/qHyperCube/qMeasureInfo/0',
        expand: 0.1,
        min: 0
      }
    },
    components: [
      {
        type: 'grid-line',
        y: { scale: 'y' }
      },
      {
        type: 'box-marker',
        brush: {
          trigger: [{
            action: 'tap',
            contexts: ['highlight'],
            data: ['self'],
            propagation: 'stop'
          }],
          consume: [{
            context: 'highlight',
            data: ['self'],
            style: {
              inactive: {
                opacity: 0.3
              }
            }
          }]
        },
        data: {
          mapTo: {
            start: {
              source: '/qHyperCube/qMeasureInfo/0'
            },
            end: 0,
          },
          groupBy: {
            source: '/qHyperCube/qDimensionInfo/0'
          }
        },
        settings: {
          x: {
            scale: 'x'
          },
          y: {
            scale: 'y'
          },
          box: {
            fill: 'steelblue',
            strokeWidth: 0
          }
        }
      },
      {
        type: 'axis',
        scale: 'y',
        settings: {
          ticks: { show: false },
          line: { show: false }
        }
      },
      {
        type: 'axis',
        scale: 'x'
      }]
  };
  let element = document.getElementById("container");
  picasso.chart({
    element,
    data,
    settings
  });

  </script>
</body>

</html>
