<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picasso example</title>

    <!-- import picasso and its dependencies-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="../dist/picasso.js"></script>
    <script src="../dist/picasso-angular.js"></script>
	<style>
		table.fixed {table-layout:fixed; width:600px;}/*Setting the table width is important!*/
		table.fixed td {
			overflow:hidden;
			width:50px;
			height: 20px;
		}
        input {
            width: 600px;
        }
        div.gradient {
            width: 600px;
            height: 20px;
        }
	</style>
</head>
<body ng-app="myApp">
	<div ng-controller="singleHueCtrl">
        <h3>Single Hue</h3>
        <table class="fixed">
            <b>Classes</b>
    		<tr style="height: 100%; width: 100%; position: relative; overflow: auto;">
    			<td ng-repeat="item in data" ng-style="{ 'background-color' : color( item, item ) }"></td>
    		</tr>
    	</table>

    	<form ng-submit="setHue()">
       		<input type="text" ng-model="hueM" />
            <input type="text" ng-model="classesM" />
    	</form>
	</div>

    <h3>Multi Hue</h3>
    <div ng-controller="multiHue">
        <b>Classes</b>
        <table class="fixed">
            <tr style="height: 100%; width: 100%; position: relative; overflow: auto;">
                <td ng-repeat="item in data" ng-style="{ 'background-color' : color(item) }"></td>
            </tr>
        </table>

        <b>Gradient</b>
        <div class="sequential gradient" ng-style="{ 'background' : colorGradient(item) }"></div>

        <form ng-submit="setColor()">
       		<input type="text" ng-model="colorM" />
    	</form>
    </div>

    <h3>Diverging</h3>
    <div ng-controller="diverging">
        <b>Classes</b>
        <table class="fixed">
            <tr style="height: 100%; width: 100%; position: relative; overflow: auto;">
                <td ng-repeat="item in data" ng-style="{ 'background-color' : color(item) }"></td>
            </tr>
        </table>

        <b>Gradient</b>
        <div class="diverging gradient" ng-style="{ 'background' : colorGradient(item) }"></div>

        <form ng-submit="setDivColor()">
       		<input type="text" ng-model="colorDivM" />
    	</form>
    </div>

    <h3>Palettes</h3>
    <div ng-controller="scientific">

        <b>Scientific - Classes</b>
        <table class="fixed">
            <tr style="height: 100%; width: 100%; position: relative; overflow: auto;">
                <td ng-repeat="item in data" ng-style="{ 'background-color' : color(item) }"></td>
            </tr>
        </table>

        <b>Scientific - Gradient</b>
        <div class="diverging gradient" ng-style="{ 'background' : colorGradient(item) }"></div>
    </div>

    <div ng-controller="multiHue1">
        <b>Multi Hue 1 - Classes</b>
        <table class="fixed">
            <tr style="height: 100%; width: 100%; position: relative; overflow: auto;">
                <td ng-repeat="item in data" ng-style="{ 'background-color' : color(item) }"></td>
            </tr>
        </table>

        <b>Multi Hue 1 - Gradient</b>
        <div class="diverging gradient" ng-style="{ 'background' : colorGradient(item) }"></div>
    </div>

    <h3>Linear scale - Gradient</h3>
    <div ng-controller="linearscale">
        <div class="diverging gradient" ng-style="{ 'background' : colorGradient(item) }"></div>

        <form ng-submit="setColor()">
       		<input type="text" ng-model="colorM" />
    	</form>
    </div>

    <script>
		var app = angular.module('myApp', [])
		.controller('singleHueCtrl', ['$scope', function($scope) {
			$scope.hueM = "hsl(123,15%,85%)";
            $scope.classesM = "6";
			$scope.data = [1,2,3,4,5,6,7,8,9,10,11,12];
			$scope.color = function(item, num) {
                var color = $scope.hueM;
				return picasso.color.sequentialHue( color ).from( [1, 12 ] ).classify($scope.classesM).get( num );
			}
		}]);

        app.controller('multiHue', ['$scope', function($scope) {
			$scope.data = [0, 0.1 ,0.2 ,0.3 ,0.4 ,0.5 ,0.6 ,0.7 ,0.8 ,0.9 , 1];
            $scope.colorM = "#ffffd9;#41b6c4; #081d58";

			$scope.color = function( num ) {
                var color = $scope.colorM.split( ";" );
				//return picasso.color.sequential(color[0], color[1]).get( num );
                return picasso.color.linearScale(color, [0, 0.5, 1]).classify(5).get( num );
			}

            $scope.colorGradient = function() {
                var color = $scope.colorM.split(";");
                var cAry = picasso.color.linearScale(color, [0, 0.5, 1]);
				return picasso.color.utils.linearGradient(cAry);
			}
		}]);

        app.controller('diverging', ['$scope', function($scope) {
			$scope.data = [0, 0.1 ,0.2 ,0.3 ,0.4 ,0.5 ,0.6 ,0.7 ,0.8 ,0.9 , 1];
            $scope.colorDivM = "#c51b7d; #f7f7f7; #4d9221";

			$scope.color = function( num ) {
                var color = $scope.colorDivM.split( ";" );
				return picasso.color.diverging( color[0], color[1], color[2] ).from( [0, 0.5, 1] ).classify(11).get( num );
			}

            $scope.colorGradient = function() {
                var color = $scope.colorDivM.split(";");
                var cAry = picasso.color.diverging( color[0], color[1], color[2] );
				return picasso.color.utils.linearGradient(cAry);
			}
		}]);

        app.controller('scientific', ['$scope', function($scope) {
            $scope.data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ];

			$scope.color = function( item ) {
                var colors = picasso.color.palettes.scientific( 0, 9 ).classify(11);
				return colors.get( item );
			}

            $scope.colorGradient = function() {
                var colors = picasso.color.palettes.scientific( 0, 9 );
				return picasso.color.utils.linearGradient(colors);
			}
		}]);

        app.controller('multiHue1', ['$scope', function($scope) {
            $scope.data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ];

			$scope.color = function( item ) {
                var colors = picasso.color.palettes.multiHue1( 0, 9 ).classify(11);
				return colors.get( item );
			}

            $scope.colorGradient = function() {
                var colors = picasso.color.palettes.multiHue1( 0, 9 );
				return picasso.color.utils.linearGradient(colors);
			}
		}]);

        app.controller('linearscale', ['$scope', function($scope) {
            $scope.colorM = "#ffffcc; #ffeda0; #fed976; #feb24c; #fd8d3c; #fc4e2a; #e31a1c; #bd0026; #800026";

			$scope.colorGradient = function() {
				var color = $scope.colorM.split(";");
				var from = [];
				var incrementor = ( 1 ) / ( color.length - 1 );
				color.forEach(function (item, index) {
					from.push( incrementor * index );
				});

				var cAry = picasso.color.linearScale( color, from );

				return picasso.color.utils.linearGradient(cAry);
			}
		}]);
    </script>
</body>
</html>
